body{
    background-image: url("dd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table{
    /* border-collapse: collapse; */
    /* width: 70%; */
    /* margin: 20px auto; */
    margin-left: 670px;
    background-color: rgba(255,255,255,0.8);
}

th{
    background-color: darkblue;
    color: white;
    padding: 15px;
}

td{
    text-align: center;
    padding: 15px;
}

tr:nth-child(even){
    background-color: lightpink;
}

tr:nth-child(odd){
    background-color: lightgreen;
}

tr:hover{
    background-color: orange;
}

th, td{
    border: 2px solid black;
}