body{
    font-family: Arial, sans-serif;
    background: #F4F6F7;
    padding: 20px;
    /* background-color: #6bff9a; */
    background-image: url("favimage.jpg");
    background-position:center;
    background-size: cover;
    background-position-x: center;
    background-repeat: ;
}

p{
    color: #b2d816;
    font-size: 18px;
    line-height: 1.6;
}

strong{
    color: #1b725b;
}

em{
    color: #513c98;
}

mark{
    background: yellow;
    padding: 2px;
}

hr{
    border: 1px solid #3498DB;
}